{% extends 'base.html' %}
<!--{% import 'macros.html' as macro %}-->

{% block content %}
<div style="background-color: #fba00f">
{% for article in article %}
        <div>
            <div style="display: table; width: 780px; margin-left: 15em;">
                <ul style="list-style: none;">
                    <li style="display: inline">
                        <div class="card">
                        <img src="{{article.urlToImage}}" class="card-img-top" width="400" height="400" alt="card image cap">
                            <div class="card-body">
                                <p class="card-title">{{article.title}}</p>
                                <h4 class="bg info">{{article.description}}</h4> <br>
                            </div>
                            <div class="card-footer" style="background-color:#a6190e">
                                <p style="text-align: center;"><a href="{{article.url}}"  class="btn btn-primary btn-lg" role="button" style="width:300px;">Learn more</a></p><br>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>




{% endfor %}
</div>

{% endblock %}
