{% extends 'base.html'%}
{% import 'macros.html' as macro %}


<html>
{% block content %}
    {% block styles%}
            {{ super() }}
            <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    {% endblock %}
    <body style="background-color: #225475">
        <div class="row">
            <!--Entertainment -->
            <div class="col-md-3">
                <h3 class="list-group-item" style="background-color: #1cae74; width: 300px;">ENTERTAINMENT</h3>
                <p style="margin-left: 10px">{{macro.displaySources(entertainment)}}</p>
            </div>

            <!-- General  -->
            <div class="col-md-3">
                <h3 class="list-group-item" style="width: 300px; text-align:center;background-color: #1cae74"> BUSINESS </h3>
                <p>{{macro.displaySources(business)}}</p>
            </div>

            <!-- Health -->
            <div class="col-md-3">
            <h3 class="list-group-item" style="width: 300px; text-align:center; background-color: #1cae74"> TECHNOLOGY </h3>
                <p>{{macro.displaySources(technology)}}</p>
            </div>

            <!-- Science -->
            <div class="col-md-3" style="width: 100px;">
                <h3 class="list-group-item" style="width: 300px; text-align:center; background-color: #1cae74"> SCIENCE </h3>
                <p>{{macro.displaySources(science)}}</p>
            </div>
        </div>
    </body>

{% endblock %}
</html>