{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block content %}

    <body>
        <div class="row">
            <!--Entertainment -->
            <div class="col-md-3">
                <h3> ENTERTAINMENT </h3>
                 <ul>
                     <li>{{macro.displaySources(entertainment)}}</li>
                </ul>
            </div>

            <!-- General  -->
            <div class="col-md-3">
                <h3> BUSINESS </h3>
                 <ul>
                        <li>{{macro.displaySources(business)}}</li>
                </ul>
            </div>

            <!-- Health -->
            <div class="col-md-3">
            <h3> TECHNOLOGY </h3>
                 <ul>
                     <li>{{macro.displaySources(technology)}}</li>
                </ul>
            </div>

            <!-- Science -->
            <div class="col-md-3">
                <h3> SCIENCE </h3>
                 <ul>
                     <li>{{macro.displaySources(science)}}</li>
                </ul>
            </div>
        </div>
    </body>

{% endblock %}