{% macro displaySources(source_list)%}
    {% for source in source_list %}
        <div class ="card">
            <div class="card header">
                <h3>{{source.name}}</h3>
            </div>
            <h5>{{source.description}}</h5>
            <div class="row">
                <div class="col-md-4">
                    <h5>category:{{source.category}}</h5>
                </div>
                <div class="col-md-4">
                    <h5>language:{{source.language}}</h5>
                </div>
                <div class="col-md-4">
                    <h5>country:{{source.country}}</h5>
                </div>
            </div>
            <a href="">{{source.url}}</a>
        </div>
    {% endfor %}
{% endmacro %}